*.log
*.orig
*.rej
*.aux
*.dvi
*.pdf
*~
.*~
*.blg
*.lof
*.lot
*.bbl
_region_.*
auto/*
*.toc
*.out

# reinclude matlab figures
!figs-omc/pzttf.pdf
!figs-omc/finesseFit.pdf
!figs-omc/pztdccal.pdf
!figs-jitter/hamtransmission.pdf
!figs-jitter/magffperformance.pdf
!figs-jitter/bilinearplot.pdf
!figs-jitter/sensimprovement.pdf
